#amarelo {
    color:yellow; font-weight: normal;
}

#vermelho{
    color:red; font-weight: normal;
}

#azul{
    color:blue; font-weight: normal;
}

#marrom{
    color:brown; font-weight: normal;
}

#violeta{
    color:violet; font-weight: normal;
}

img{width: 100px; height: 100px;};